* {
    border: 1px dotted blue;
    margin: 5px;
    padding: 0;
}
html {
    font-family: Helvetica, sans-serif;
}

.container-header {
    height: 50px;
    background-color: black;
    color: whitesmoke;
}

header {
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container-section {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

a {
    color: black;
    text-decoration: none;
}